# https://docs.solace.com/Configuring-and-Managing/Pre-Shared-Keys-SMB.htm
#!/bin/bash
sudo docker create \
--network=host \
--uts=host \
--memory-swap=-1 \
--ulimit core=-1 \
--shm-size=1g \
--ulimit memlock=-1 \
{% if ha_role == "monitoring" %}
{% set scale_tier = "100" %}
{% endif %}
{% if scale_tier == "1k" %}
--ulimit nofile=2448:10192 \
--env 'system_scaling_maxconnectioncount=1000' \
{% elif scale_tier == "10k" %}
--ulimit nofile=2448:42192 \
--env 'system_scaling_maxconnectioncount=10000' \
{% elif scale_tier == "100k" %}
--ulimit nofile=2448:222192 \
--env 'system_scaling_maxconnectioncount=100000' \
{% elif scale_tier == "200k" %}
--ulimit nofile=2448:422192 \
--env 'system_scaling_maxconnectioncount=200000' \
{% else %}
--ulimit nofile=2448:6592 \
--env 'system_scaling_maxconnectioncount=100' \
{% endif %}
--env 'username_admin_globalaccesslevel=admin' \
--env 'username_admin_password=admin' \
{% if ha_role == "primary" %}
--env 'routername={{ router_name_suffix }}primary' \
--env 'nodetype=message_routing' \
--env 'configsync_enable=yes' \
--env 'redundancy_activestandbyrole={{ ha_role }}' \
{% elif ha_role == "backup" %}
--env 'routername={{ router_name_suffix }}backup' \
--env 'nodetype=message_routing' \
--env 'configsync_enable=yes' \
--env 'redundancy_activestandbyrole={{ ha_role }}' \
{% elif ha_role == "monitoring" %}
--env 'routername={{ router_name_suffix }}monitor' \
--env 'nodetype=monitoring' \
{% endif %}
--env 'redundancy_enable=yes' \
--env 'redundancy_group_node_{{ router_name_suffix }}primary_connectvia={{ primary_ip }}' \
--env 'redundancy_group_node_{{ router_name_suffix }}primary_nodetype=message_routing' \
--env 'redundancy_group_node_{{ router_name_suffix }}backup_connectvia={{ backup_ip }}' \
--env 'redundancy_group_node_{{ router_name_suffix }}backup_nodetype=message_routing' \
--env 'redundancy_group_node_{{ router_name_suffix }}monitor_connectvia={{ monitoring_ip }}' \
--env 'redundancy_group_node_{{ router_name_suffix }}monitor_nodetype=monitoring' \
--env 'redundancy_authentication_presharedkey_key=VGhpcyBpcyBhIFByZS1TaGFyZWQgQXV0aGVudGljYXRpb24gS2V5IGZvciBQb0MK' \
--env 'TZ=Asia/Shanghai' \
--name=solace {{ vmr_version.stdout }}
